<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="outlookBg/Common.css">
    </head>
    <body>
        <hr>
        <h1 id="Ab" >~AutoBiographies~&#x1F4DD</h1>
        <hr>
        <div class="row">

          <div class="column">
            <img src="outlookBg/Images/Sonu.jpeg" alt="Book" style="width:55%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/Nm.jpg" alt="Book" style="width:50%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/Mk.jpg" alt="Book" style="width:55%">
          </div>

        </div>

        <div class="row">

          <div class="column">
            <img src="outlookBg/Images/SM.jpeg" alt="Book" style="width:55%">
          </div>

          <div class="column">
            <img src="outlookBg/Images/WS.jpg" alt="Book" style="width:55%">
          </div>

        </div>
    </body>
</html>