<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="outlookBg/Common.css">
    </head>
    <body>
        <hr>
        <h1 id="Ez">--Entertainment Zone&#x1F60E--</h1>
        <hr>
        <div class="row">
          <div class="column">
            <img src="outlookBg/Images/lp.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/Cr.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/Venom.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="outlookBg/Images/Gl.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/End.jpg" alt="Book" style="width:45%">
          </div>
          <div class="column">
            <img src="outlookBg/Images/IT.jpg" alt="Book" style="width:45%">
          </div>
        </div>
        

    </body>
</html>